<div class="ui secondary  menu">
    <a class="active item">
        Home
    </a>
    <a class="item">
        Messages
    </a>
    <a class="item">
        Friends
    </a>
    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>